<%-include('../partials/header.ejs') %>
    <body>
        <%-include('../partials/navbar-login.ejs') %>
            <main>
                <div class="container main-login">
                    <div class="row">
                        <div class="col-md-2">
                            <%-include('../partials/sidebar.ejs') %>
                        </div>
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header">
                                    <div class="panel-title">Equipes</div>
                                </div>

                                <table class="table table-bordered ">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Equipes</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% teams.forEach(team=> {%>
                                            <tr>
                                                <td>
                                                    <%= team.name %>
                                                </td>
                                                <td><a href="/teams/edit/<%= team.id %>">Atualizar </a> </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>

                                <div class="card-footer text-center">
                                    <a href="/teams/new" class="btn btn-success btn-block">Cadastrar</a>
                                </div>

                            </div>
                            <br><br>
            </main>
    </body>

<%-include('../partials/footer.ejs') %>