<%-include('../partials/header.ejs') %>

    <body>
        <%-include('../partials/navbar-login.ejs') %>
            <main>
                <div class="container main-login" style="padding-top: 6em;">
                    <div class="row">
                        <div class="col-md-2">
                            <%-include('../partials/sidebar.ejs') %>
                        </div>
                        <div class="col-md-10">
                            <%-include('../partials/messages.ejs') %>
                                <div class="card">

                                    <div class="card-header">
                                        <h3 class="panel-title">Estudantes da Equipe</h3>
                                    </div>
                                    <div class="table-responsive-md"></div>
                                    <table class="table table-bordered ">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>Nome</th>
                                                <th>E-mail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% students.forEach(student=> {%>
                                                <tr>
                                                    <td>
                                                        <%= student.name %>
                                                    </td>
                                                    <td>
                                                        <%= student.email %>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </main>
    </body>
    <%-include('../partials/footer.ejs') %>