<%-include('../partials/header.ejs') %>
    <body>
        <%-include('../partials/navbar-login.ejs') %>
            <main>
                <div class="container main-login">
                    <div class="row">
                        <div class="col-md-2">
                            <%-include('../partials/sidebar.ejs') %>
                        </div>
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header">
                                    <div class="panel-title">Alunos da Turma</div>
                                </div>

                                <table class="table table-bordered ">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% students.forEach(student=> {%>
                                            <tr>
                                                <td>
                                                    <%= student.name %>
                                                </td>
                                                <td>
                                                    <%= student.email %>
                                                </td>                                                
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <br><br>
            </main>
    </body>

<%-include('../partials/footer.ejs') %>