<%-include('../partials/header.ejs') %>

  <body>
    <%-include('../partials/navbar-login.ejs') %>
      <main>
        <div class="container main-login">
          <div class="row">
            <div class="col-md-2">
              <%-include('../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-10">
              <%-include('../partials/messages.ejs') %>
                <div class="card">

                  <div class="card-header">
                    <h3 class="panel-title">Cadastar Equipe</h3>
                  </div>

                  <form method="POST" action="/teams/create">
                    <input type="hidden" name="classroomId" value="<%= classroomId %>">
                    <div class="card-body">
                      <div class="row mb-3">
                        <div class="row mb-3">
                          <label for="inputEmail3" class="col-sm-12 col-form-label">Nome da Equipe*</label>
                          <input type="text" placeholder="Informe o nome da equipe" name="name"
                            value="<%= typeof name != 'undefined' ? name : '' %>" class="form-control" required><br>
                        </div>
                      </div>
                    <div class="card-footer text-center d-grid gap-2">
                      <button type="submit" class="btn btn-primary btn-block">Cadastrar Equipe</button>
                    </div>

                  </form>
                </div>
                <br><br><br>
              
            </div>
          </div>
        </div>
        <br><br>
      </main>
  </body>
  <%-include('../partials/footer.ejs') %>