<%-include('../partials/header.ejs') %>
<body>
    <%-include('../partials/navbar.ejs') %>

    <div class="card">
        <div class="card-header">
          <div class="panel-title">Equipe</div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <ul class="list-group">
                    <li class="list-group-item"><b>Nome da Equipe:</b> <%= team.name %></li>
                    <li class="list-group-item"><b>Turma:</b> <%= team.classroomId %></li>
                </ul>
            </div>
        </div>
   
        <a href="/teams" class="btn btn-success">Voltar</a>
    </div>
</body>
<%-include('../partials/footer.ejs') %>

