<%-include('../partials/header.ejs') %>
<%-include('../partials/navbar-login.ejs') %>
<%-include('../partials/sidebar.ejs') %>
<main class="main-for-sidebar content-top-position featurette-divider col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container pt-3">
        <%-include('../partials/messages.ejs') %>
        <div class="card">
            <div class="card-header bg-dark"">
                <div class="panel-title">Recompensas</div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead class="table-dark">
                        <tr>
                            <th>Recompensa</th>
                            <th>Classificação no Ranking</th>
                            <% if( locals.profileUser==="Teacher" ) { %>
                                <th>Ações</th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% rewards.forEach(reward=> {%>
                            <tr>
                                <td>
                                    <%= reward.name %>
                                </td>
                                <td>
                                    <%= reward.rating %>
                                </td>
                                <% if( locals.profileUser==="Teacher" ) { %>
                                    <td><a href="/rewards/edit/<%= reward.id %>"
                                        class="btn btn-primary btn-sm">Atualizar Recompensa </a> </td>
                                <% } %>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <% if( locals.profileUser==="Teacher" ) { %>
                <div class="card-footer text-center">
                    <a href="/rewards/new" class="btn btn-primary btn-block">Cadastrar Recompensa</a>
                </div>
            <% } %>
        </div>
    </div>
</main>
<%-include('../partials/footer-next-to-sidebar.ejs') %>