<%-include('../partials/header.ejs') %>

    <body>
        <%-include('../partials/navbar-login.ejs') %>
            <main>
                <div class="container main-login">
                    <div class="row">
                        <div class="col-md-2">
                            <%-include('../partials/sidebar.ejs') %>
                        </div>
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header">
                                    <div class="panel-title">Missões</div>
                                </div>

                                <table class="table table-bordered ">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Nome</th>
                                            <th>Descrição</th>
                                            <th colspan="2">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% missions.forEach(mission=> {%>
                                            <tr>
                                                <td>
                                                    <%= mission.name %>
                                                </td>
                                                <td>
                                                    <%= mission.point %>
                                                </td>
                                                <td><a href="/missions/show/<%= mission.id %>">Visualizar </a> </td>
                                                <td><a href="/missions/edit/<%= mission.id %>">Atualizar </a> </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>

                                <div class="card-footer text-center">
                                    <a href="/missions/new" class="btn btn-success btn-block">Cadastrar</a>
                                </div>

                            </div>
            </main>
    </body>

<%-include('../partials/footer.ejs') %>