<%-include('../partials/header.ejs') %>
<body>
  <%-include('../partials/navbar.ejs') %>
    <main>
      <div class="container marketing">
        <div class="row form">
          <div class="col-md-6 offset-md-3">
            <%-include('../partials/messages.ejs') %>
            <div class="card">
          
              <div class="card-header">
                <h3 class="panel-title">Atualizar Dados da Turma</h3>
              </div>

              <form method="POST" action="/classrooms/update">
                <input type="hidden" name="id" value="<%= typeof classroom.id != 'undefined' ? classroom.id : '' %>">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-12 col-form-label">Nome*</label>
                            <input type="text" placeholder="Insira o nome da Turma" name="name" class="form-control"
                          value="<%= typeof classroom.name != 'undefined' ? classroom.name : '' %>" required><br>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-12 col-form-label">Descrição</label>
                            <textarea id="story" name="description" rows="5" cols="33" placeholder="Breve descrição da turma..."><%= typeof classroom.description != 'undefined' ? classroom.description : '' %> </textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block">Atualizar Turma</button>
                </div>
               
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
<%-include('../partials/footer.ejs') %>