<%-include('../partials/header.ejs') %>
<body>
<%-include('../partials/navbar-login.ejs') %>
<main>
    <div class="container main-login">
        <div class="row">
            <div class="col-md-2">
                <%-include('../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-10">

                <div class="card">
                    <div class="card-header">
                        <div class="panel-title panel-title">Missões</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <ul class="list-group">   
                                <% missions.forEach(mission => {%>
                             
                                    <li class="list-group-item"><b>Nome:</b> <%= mission.name %></li>
                                    <li class="list-group-item"><b>Descrição:</b> <%=- mission.description %></li>
                                <% }) %> 
                            </ul>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse totam quos aut velit! Eligendi pariatur necessitatibus iste et. Repellat autem delectus dicta id? Tempore doloremque maxime impedit culpa minima repellendus.</p>
                        </div>
                    </div>          
                

                </div>

            </div>

        
                
        </div>
    </div>
</main>
</body>   

<%-include('../partials/footer.ejs') %>

