<%-include('../partials/header.ejs') %>
<body>
<%-include('../partials/navbar-login.ejs') %>
<main>
    <div class="container main-login">
        <div class="row">
            <div class="col-md-2">
                <%-include('../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-10">

                <div class="card">
                    <div class="card-header">
                        <div class="panel-title">Missões</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <ul class="list-group">   
                                <% missions.forEach(mission => {%>
                             
                                    <li class="list-group-item"><b>Nome:</b> <%= mission.name %></li>
                                    <li class="list-group-item"><b>Descrição:</b> <%=- mission.description %></li>
                                <% }) %> 
                            </ul>
                            <br><br><br><br> <br><br><br><br>  <br><br><br><br>
                        </div>
                    </div>          
                

                </div>
                <div class="col-md-10">

                    <div class="card">
                        <div class="card-header">
                            <div class="panel-title">Missões</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <ul class="list-group">   
                                    <% missions.forEach(mission => {%>
                                
                                        <li class="list-group-item"><b>Nome:</b> <%= mission.name %></li>
                                        <li class="list-group-item"><b>Pontuação:</b> <%= mission.point %></li>
                                        <li class="list-group-item"><b>Descrição:</b> <%=- mission.description %></li>
                                    <% }) %> 
                                </ul>
                                <br><br><br><br> <br><br><br><br> 
                            </div>
                        </div>          
                    </div>
                </div>                
            </div>
        </div>
    </main>
</body>   

<%-include('../partials/footer.ejs') %>

<script>
   (function()
        {
        if( window.localStorage )
        {
            if( !localStorage.getItem('firstLoad') )
            {
            localStorage['firstLoad'] = true;
            window.location.reload();
            }  
            else
            localStorage.removeItem('firstLoad');
        }
    })();
</script>