<%-include('../partials/header.ejs') %>
<%-include('../partials/navbar-login.ejs') %>
<%-include('../partials/sidebar.ejs') %>
<body>
<main>
    <div class="container main-login">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10" style="padding-top: 100px;">
                <div class="card">
                    <div class="card-header bg-dark">
                        <div class="panel-title ">Missões</div>
                    </div>
                </div>
                <% missions.forEach(mission => {%>   
                    <div class="card">
                        <div class="card-header">
                            <div class="panel-title">Missão: <%= mission.name %></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <ul class="list-group">   
                                                                 
                                    <li class="list-group-item"><b>Pontuação da missão:</b> <%= mission.point %></li>
                                        <% if (mission.description) { %>
                                            <li class="list-group-item"><b>Descrição:</b> 
                                        <%=- mission.description %></li>
                                        <% }%>                                  
                                </ul>
                            </div>
                        </div>          
                    </div>
                <% }) %> 
                </div>                
            </div>
        </div>
        <br><br>
    </main>
</body>   

<%-include('../partials/footer.ejs') %>

<script>
   (function()
        {
        if( window.localStorage )
        {
            if( !localStorage.getItem('firstLoad') )
            {
            localStorage['firstLoad'] = true;
            window.location.reload();
            }  
            else
            localStorage.removeItem('firstLoad');
        }
    })();
</script>